*{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

<<<<<<< HEAD
h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.subdivision{
  font-size: 23px;
  color: white;
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h4{
  font-size: 14px;
  font-weight: normal;
  }


h6{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.top{
  color: white;
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#Process{

=======
.top{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
>>>>>>> 0267f31f693714fb48a9b5993d68eac6f5e21cc1
}
